## Content
- jupyter notebooks
- commenting away code
- hello world
- printing
- int
- float
- string
- casting
- list
- tuples
- dict

In [1]:
print("hello world")

hello world

In [4]:
my_name_is = "Eva"
print(my_name_is)

Eva

In [10]:
# Variables
my_name_is = "Eva"
print(my_name_is)
print(type(my_name_is))

Eva
<class 'str'>

In [8]:
one = 1
two = one + 1
three = 1 + 1 * 2
four = (1 + 1) * 2
two += 2 # equals 4
# two = two + 2
print(four)

4

# Potential
a = 6
b = 3
a**b
print(a+b)

In [11]:
# Data types
four = 4
print(type(four)) # int
price = 9.99
print(type(price)) # float
quarter = 3/four
print(quarter) # 0.75

<class 'int'>
<class 'float'>
0.75

In [11]:
print("6^3 =", a**b, "and 3^6 =", b**a)

6^3 = 216 and 3^6 = 729

In [8]:
c = a/b
print(c)

2.0

In [9]:
c = a//b
print(c)

2

In [10]:
print(type(a), type(c))

<class 'int'> <class 'int'>

In [ ]:
# How do you make an integer to a float or a float to an integer or a string to an integer or an integer to a string?? We use something called casting!
a = float(a)
print(type(a))

In [12]:
# Set a variable d as 2.3. When casting this to an integer, we would probably like it to be rounded to 2
d = 2.3
d = int(d)
print(d, type(d))

2 <class 'int'>

In [12]:
# Now, if d = 2.6, we would probably want it to be rounded upwards, to 3. Let's try that.
d = 2.6
d = int(d)
print(d, type(d))

2 <class 'int'>

In [14]:
# Alright, so we see that the casting to int is actually doing what we call "flooring" - it always casts to the lesser integer. So what do we do? We use another function.
d = 2.99999999
d = round(d)
print(d, type(d))

3 <class 'int'>

In [14]:
hello = "Hello"
print(type(hello))
world = "World"
hello_world = hello + world #concatenation
print(hello_world)

<class 'str'>
HelloWorld

In [16]:
# Boolean
is_true = True
is_false = 1 == 2
print(is_false)
print(1 * is_false, 1 * is_true)

False
0 1

In [16]:
# Now let's look at casting between string and float/integer
a = "6"
b = "3"

# Doing the mathematical operation division on strings creates...
a/b

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [17]:
# .. an error. So we need to start by casting our variables to ints or floats for the arithmetic to work
int(a)/int(b)

2.0

In [18]:
# and it yet again gives us a float. So, if we want it to be an int, let's go one step further:
int(int(a)/int(b))

2

In [ ]:
# but let us not write code like that. It is not very easy to read, and thus it is bad. Code needs to be easy to understand.
# In this case, it would be better to make sure that the variables a and b are ints from start

In [19]:
# Casting our variable c to an int does not work directly either..
c = "2.0"
int(c)

ValueError: invalid literal for int() with base 10: '2.0'

In [20]:
# which means that we will need to cast it to float, and to int after that if we really need it to be an integer
float(c)
int(float(c))

2

### Recap:
- int = integer
- float = floating number = decimals are allowed
- string = essentially text, which means that all types of symbols can be included in a string. A string is characterized by the signs: " or '

In [19]:
# Now we would like to save several variables together, in a list. Lists are good for many cases, let's start with the heights of 7 persons
# NOTE that we should always use variable names that describe the variable - otherwise reading the code gets harder
heights = [1.78, 1.65, 1.55, 1.89, 1.73, 1.91, 1.95]

In [22]:
# There are some basic operations we can do on a list, for example get the number of entries in it:
heights_len = len(heights)
heights_len

7

In [23]:
# We can also pick out certain entries to use
last_height = heights[7]

IndexError: list index out of range

In [25]:
# This is because index starts at 0!!
last_height = heights[6]
last_height = heights[-1]

In [5]:
# Say that we would like to get the mean value of the heights - we can use functions from a helper package called Numpy. Numpy will soon be your best friend, it has a lot of nice features and functions!
import numpy as np
mean_value_heights = np.mean(heights)
mean_value_heights

1.7799999999999998

In [27]:
# What if we remove one value and add another? How will that affect the mean value?
print(heights)

heights.remove(1.78) # We remove the entry where the value corresponds to 1.78
print(heights)

heights.append(1.99) # We add 1.99 to the end of the list
print(heights)

updated_mean_value = np.mean(heights) # And find the new mean value
print(updated_mean_value)

[1.65, 1.55, 1.89, 1.73, 1.91, 1.95, 1.99]

ValueError: list.remove(x): x not in list

### Recap:
- Lists are great when we want to structure our data points in an easily managable way
- One list value is called a _list entry_
- In Python, lists can be comprised of several data types - it is possible to have a list with both strings, integers, lists, tuples as entries
- Index starts at 0
- Lists can be changed - they are muteable

In [28]:
# Sometimes it can come in handy to save data in what we call tuples, where we want to pair certain data points together and when we are sure that we will not need to alter them
# Tuples are immutable lists, often with length 2 (although we can make them as long as we wish)
class_heights = [("person1", 1.78), ("person2", 1.65), ("person3", 1.55), ("person4", 1.89)]

In [29]:
class_heights[0]

('person1', 1.78)

In [30]:
class_heights[0][0]

'person1'

In [31]:
class_heights[0][1]

1.78

In [32]:
# Another, similar data type is dictionary
# We use dictionaries when we want to pair information in a way that makes it easily found! Just like a dictionary, we can find information by looking it up.
class_heights = {"person1": 1.78, "person2": 1.65, "person3": 1.55, "person4": 1.89}
class_heights["person1"]

1.78

In [12]:
class_heights.items()

dict_items([('person1', 1.78), ('person2', 1.65), ('person3', 1.55), ('person4', 1.89)])

In [13]:
class_heights.keys()

dict_keys(['person1', 'person2', 'person3', 'person4'])

In [14]:
class_heights.values()

dict_values([1.78, 1.65, 1.55, 1.89])

In [15]:
class_heights["person5"] = 1.77

### Recap:
- Tuples can be seen as a type of list, that are usually no longer than 3 entries and that are immutable
- Immutable means that once we have set the values, we can only access them but not change them - we would need to create new tuples to change something
- Dictionaries are similar to lists and tuples, but instead of having to deal with indices, we can look information up in an easier way, using descriptive variables
- In a dictionary, we use curly brackets and we call the entries key-value pairs. dict = {key: value, key: value}
- A dictionary is unordered - the order of the items are not of importance